<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Essential Stores</title>
    <link rel="stylesheet" href="/main.css" />
    <link href="https://bootswatch.com/4/solar/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>

    <div id="root"></div>

    <script src="built/bundle.js"></script>

</body>
</html>
<!--
	Author : Rohit Chattopadhyay
	Path : src/main/resources/templates/index.html
	Repository : https://github.com/RohitChattopadhyay/Spring-Store



-->

